<% unless @lendings.empty? %>

  <table class="dvd-index">
    <tr>
      <th class="col-md-3 show-table">DVD Title</th>
      <th class="col-md-3 show-table">Borrower</th>
      <th class="col-md-3 show-table">Approve</th>
      <th class="col-md-1 show-table">Return</th>
    </tr>
      <% @lendings.each do |lending| %>
        <tr class="opaque">
          <td class="col-md-3 show-table">
            <%= lending.dvd.title %>
          </td>
          <td class="col-md-3 show-table">
            <%= lending.borrower.name.split[0] %>
          </td>
          <td class="col-md-3 show-table">
            <% if lending.accepted.nil? %>
              <%= form_for(lending) do |f| %>
                <%= f.hidden_field :accepted, value: true %>
                <%= f.submit "Approve" %>
              <% end %>
              <%= form_for(lending, method: :delete) do |f| %>
                <%= f.submit "Deny" %>
              <% end %>
            <% else %>
              Approved
            <% end %>
          </td>
          <td class="col-md-1 show-table">
            <% if lending.accepted && !lending.returned %>
              <%= form_for(lending, method: :delete) do |f| %>
                <%= f.submit "Return" %>
              <% end %>
            <% elsif lending.accepted && lending.returned %>
              Returned
            <% end %>
          </td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>No DVDs lent out.</p>
<% end %>
