<div class="col-s-12">
  <div class="page-title">
    <h1>Editing Profile</h1>
  </div>
</div>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 col-xs-offset-0 input-lg">
      <div class="field form">
        <%= f.label :name %><br>
        <%= f.text_field :name, value: @user.name, disabled: true %>
      </div>
      <div class="field form">
        <%= f.label :email %><br>
        <%= f.text_field :email, value: @user.email, disabled: true %>
      </div>
      <div class="field form">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
      <% if current_user.role == "admin" %>
        <div class="field form">
          <%= f.label :role %><br>
          <%= f.text_field :role %>
        </div>
      <% end %>
      <br>
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-default" %>
        <a class="btn btn-default" <%= link_to 'Back', dvds_path, {style: 'color:#190C38;', class: "css_class"} %></a>
      </div>
    </div>
  </div>
<% end %>

