<h4 id="notice"><%= notice %></h4>
<div class="page-title">
  <h1><%= @user.name %></h1>
</div><br/>
<div class="container"
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <p class="show-table">
        <strong>Name:</strong>
        <%= @user.name %><br />

        <strong>Email:</strong>
        <%= @user.email %><br />

        <strong>Address:</strong>
        <%= @user.address %><br />

        <strong>Role:</strong>
        <%= @user.role %><br />
      </p>
    <div class="actions">
      <%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-default" %>
      <%= link_to 'Back', users_path, class: "btn btn-default" %>
    </div>

      <div>
        <table class="dvd-index">
        <% @user.dvds.each do |dvd| %>
          <tr>
            <td class="col-md-2 show-table"><%= link_to dvd.title, dvd %></td>
            <%= form_for(current_user) do |f| %>
              <td class="col-md-1 show-table">
                <%= f.hidden_field :dvd_ids, value: current_user.dvd_ids - [dvd.id] %>
                <%= f.submit "Remove from My Collection" %>
              </td>
            <% end %>
            <% if current_user %>
              <td>
                <%= form_for(@borrowship) do |f| %>
                  <%= f.hidden_field :borrower_id, value: current_user.id %>
                  <%= f.hidden_field :lender_id, value: @user.id %>
                  <%= f.hidden_field :dvd_id, value: dvd.id %>
                  <%= f.submit "Ask to Borrow" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </table>

      </div>
    </div>
  </div>
</div>
