<h4 id="notice"><%= notice %></h4>
<div class="page-title">
  <h1><%= @user.name %></h1>
</div><br/>
<div class="container"
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <p class="show-table">
        <strong>Name:</strong>
        <%= @user.name %><br />

        <strong>Email:</strong>
        <%= @user.email %><br />

        <strong>Address:</strong>
        <%= @user.address %><br />

        <strong>Role:</strong>
        <%= @user.role %><br />
      </p>
    <div class="actions">
      <% if UserPolicy.new(current_user, @user).logged_in? %>
      <%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-default" %>
      <%= link_to 'Back', users_path, class: "btn btn-default" %>
    </div>

      <div>
        <table class="dvd-index">
        <% @user.dvds.each do |dvd| %>
          <tr>
            <td class="col-md-2 show-table"><%= link_to dvd.title, dvd %></td>
            <% if current_user %>
              <td class="col-md-1 show-table">
                <%= form_for(current_user) do |f| %>
                  <%= f.hidden_field :dvd_ids, value: current_user.dvd_ids - [dvd.id] %>
                  <%= f.submit "Remove from My Collection" %>
                <% end %>
              </td>

              <td>
                <% if current_user == @user%>
                  <p>Can't borrow!</p>
                <% elsif current_user.borrowings.where(lender_id: @user.id, dvd_id: dvd.id).present? %>
                  <p>Requested to borrow</p>
                <% else %>
                  <%= form_for(@borrowship) do |f| %>
                    <%= f.hidden_field :borrower_id, value: current_user.id %>
                    <%= f.hidden_field :lender_id, value: @user.id %>
                    <%= f.hidden_field :dvd_id, value: dvd.id %>
                    <%= f.submit "Ask to Borrow" %>
                  <% end %>
                <% end %>
              </td>
>>>>>>> a1aa7ee67af73ccfa453ad753fa1145e7c6b3169
            <% end %>
          </tr>
        <% end %>
        </table>

      </div>
    </div>
  </div>
</div>
