<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @dvd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
    <div class="col-md-6 col-md-offset-1">
      <div class="field form">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field form">
        <%= f.label :genre %><br>
        <%= f.text_field :genre %>
      </div>
      <div class="field form">
        <%= f.label :year %><br>
        <%= f.number_field :year %>
      </div>
      <div class="field form">
        <%= f.label :rated %><br>
        <%= f.select(:rated, %w[G PG PG-13 R NC-17]) %>
      </div>
      <% if current_user.admin? %>
        <div class="field form">
          <%= f.label :published %><br>
          <%= f.check_box :published %>
        </div>
      <% end %>
    <div class="actions">
      <input class="btn btn-default" type="submit" value="Submit request">
      <a class="btn btn-default" <%= link_to 'Back', dvds_path %></a>
    </div>
  </div>
</div>
<% end %>
