<div>
  <h4 id="notice"><%= notice %></h4>
  <h1 class="page-title">Viewing all DVDs</h1>
</div><br/>
<div class="container">
    <div class="col-md-10 col-md-offset-1">
      <table class="dvd-index">
        <thead>
          <tr>
            <th class="col-md-3 show-table">Title</th>
            <th class="col-md-2 show-table">Genre</th>
            <th class="col-md-1 show-table">Year</th>
            <th class="col-md-3 show-table">Rated</th>
          </tr>
        </thead>

        <tbody>
          <% @dvds.each do |dvd| %>
            <% if dvd.published? || DvdPolicy.new(current_user, @dvd).publish %>
              <tr class="opaque">
                <td class="col-md-3 show-table"><%= link_to dvd.title, dvd %></td>
                <td class="col-md-2 show-table"><%= dvd.genre %></td>
                <td class="col-md-1 show-table"><%= dvd.year %></td>
                <td class="col-md-3 show-table"><%= dvd.rated %></td>
                <% if dvd.published? %>
                  <td class="col-md-2 show-table">Published</td>
                <% else %>
                  <td class="col-md-2 show-table">Unpublished</td>
                <% end %>

                <% if DvdPolicy.new(current_user, @dvd).show? %>
                  <% if current_user.dvds.include?(dvd) %>
                    <td class="col-md-1 show-table">
                      Already in collection
                    </td>
                  <% else %>
                    <%= form_for(current_user) do |f| %>
                      <td class="col-md-1 show-table">
                        <%= f.hidden_field :dvd_ids, value: current_user.dvd_ids.push(dvd.id) %>
                        <%= f.submit "Add to My Collection" %>
                      </td>
                    <% end %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>

      <% if DvdPolicy.new(current_user, @dvd).create? %>
      <div class="actions">
        <a class="btn btn-default" <%= link_to 'Request a new DVD', new_dvd_path %></a>
      </div>
    <% end %>
  </div>
</div>
