<p id="notice"><%= notice %></p>

<h1>Listing Dvds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Rated</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvds.each do |dvd| %>
      <tr>
        <td><%= dvd.name %></td>
        <td><%= dvd.genre %></td>
        <td><%= dvd.year %></td>
        <td><%= dvd.rated %></td>
        <td><%= dvd.published %></td>
        <td><%= link_to 'Show', dvd %></td>
        <td><%= link_to 'Edit', edit_dvd_path(dvd) %></td>
        <td><%= link_to 'Destroy', dvd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dvd', new_dvd_path %>
