<h4 id="notice"><%= notice %></h4>
<div class="page-title">
  <h1><%= @dvd.title %></h1>
</div><br/>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="show-table">
        <strong>Genre:</strong>
        <%= @dvd.genre %><br />

        <strong>Year:</strong>
        <%= @dvd.year %><br />

        <strong>Rated:</strong>
        <%= @dvd.rated %><br />

        <strong>Published:</strong>
        <%= @dvd.published %><br />
      </p>
    <div class="actions">
      <% if DvdPolicy.new(current_user, @dvd).update? %>
        <a class="btn btn-default"<%= link_to 'Edit DVD details', edit_dvd_path(@dvd) %> </a>
      <% end %>
      <% if DvdPolicy.new(current_user, @dvd).destroy? %>
        <a class="btn btn-default" <%= link_to 'Delete DVD', @dvd, method: :delete, data: { confirm: 'Are you sure?' } %></a>
      <% end %>
      <a class="btn btn-default" <%= link_to 'Back', dvds_path %></a>
    </div>
    </div>
  </div>
</div>
