<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
    <h1 class="page-title"><%= @dvd.title %></h1>
      <p class="show-table">
        <strong>Genre:</strong>
        <%= @dvd.genre %><br />

        <strong>Year:</strong>
        <%= @dvd.year %><br />

        <strong>Rated:</strong>
        <%= @dvd.rated %><br />

        <strong>Published:</strong>
        <%= @dvd.published %><br />

        <% if DvdPolicy.new(current_user, @dvd).destroy? %>
          <%= link_to 'Delete DVD', @dvd, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
      <div class="actions">
        <% if DvdPolicy.new(current_user, @dvd).update? %>
          <a class="btn btn-default"<%= link_to 'Edit DVD details', edit_dvd_path(@dvd), {:style=>'color:#190C38;', :class=>"css_cl"} %> </a>
        <% end %>
        <a class="btn btn-default" <%= link_to 'Back', dvds_path, {:style=>'color:#190C38;', :class=>"css_cl"} %></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
    <h2 class="page-title">Members who have this DVD:</h2><br/>
      <div class="opaque"
      <br/>
        <% @dvd.users.each do |user| %>
          <p><strong><%= link_to user.name, user, {:style=>'color:#190C38;', :class=>"css_cl"} %></strong></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

