<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dvd.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @dvd.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @dvd.year %>
</p>

<p>
  <strong>Rated:</strong>
  <%= @dvd.rated %>
</p>

<p>
  <strong>Published:</strong>
  <%= @dvd.published %>
</p>

<%= link_to 'Edit', edit_dvd_path(@dvd) %> |
<%= link_to 'Back', dvds_path %>
