<!DOCTYPE html>
<html>
<head>
  <title>Disc Cellar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" <%= link_to "Disc Cellar", root_path %>></a>
    </div>
    <div>
    <ul class="nav navbar-nav">
      <li><%= link_to "See DVDs", dvds_path %></li>
        <li><%= link_to "Members", users_path %></li>
      <% if current_user %>
      <li class="pull-right"><%= link_to "Signed in as #{current_user.name}!", user_path(current_user.id) %></li>
        <li class="pull-right"><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'layouts/flash_messages' %>

<%= yield %>

</body>
</html>
